.companyWrapper {
    margin: 4px 0px;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    width: 95%;
    height: min-content;
}

.companyData {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;

    p {
        margin-bottom: 4px;
    }

    p,
    h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.addButton {
    padding: 0;
    color: white;
    background: #003a8a;
    width: 42px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    justify-items: flex-end;
}
