$danger-red: rgb(220, 53, 69);
$info-turquoise: rgb(23, 162, 184);
$success-green: rgb(33, 136, 56);
$title-color: rgb(108, 117, 125);

$body-color: #212529;
$body-bg: rgb(255, 255, 255);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 0.9rem;
$h3-font-size: $font-size-base * 1.625; //26px
$h4-font-size: $font-size-base * 1.5; //24px

$theme-colors: (
  'secondary': $title-color,
  'danger': $danger-red,
  'success': $success-green,
  'info': $info-turquoise,
);