@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~bootstrap/scss/bootstrap';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    height: 600px;
    width: 500px;

    #root {
        height: 100%;
        width: 100%;
    }
}

.extension-wrapper {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #edf0f3c0;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    height: 50px;
    width: 94%;
    border-radius: 7px;
    border: 1px solid darkgray;

    &:focus {
        border-color: unset;
        box-shadow: unset;
    }
}

.company-data {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;

    p {
        margin-bottom: 4px;
    }

    p, h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.company-wrapper{
    margin: 4px 0px;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    width: 95%;
    height: min-content;
}

.add-button{
    padding: 0;
    color: white;
    background: #003A8A;
    width: 42px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    justify-items: flex-end;
}
