@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~bootstrap/scss/bootstrap';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    height: 600px;
    width: 500px;

    #root {
        height: 100%;
        width: 100%;
    }
}

.extension-wrapper {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #edf0f3c0;
    justify-content: center;
    align-items: center;
    .companies-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;
        overflow: scroll;
        padding: 4px;
        border: 1px dashed rgba(0, 0, 0, 0.329);
        .company-wrapper {
            margin: 4px;
            padding: 8px;
            width: 95%;
            height: min-content;
            display: flex;
            flex-direction: column;
            border: 1px solid black;

            p {
                margin-bottom: 4px;
            }

            p,
            h3 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
